html,
body {
	height: 100%;
	background-color: $background;
	overflow-x: hidden;
}

body {
	font-family: $nunito;
	font-size: 16px;
	line-height: 137%;
	font-weight: 300;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
	color: $primary;
	font-family: $montserrat;
	font-weight: 900;
	font-size: 30px;
	line-height: 113%;
	text-transform: uppercase;
	text-align: center;
}

.suptitle {
	color: $primary;
	font-family: $nunito;
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	text-align: center;
}

.subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #232C38;
}

.text {
	color: $dark-grey;
}

.accent {
  background-color: $accent1;
  color: #fff;
}

.text-accent {
	color: $accent1;
}

path {
	transition: all .3s ease-in-out;
}



.btn {
	border-radius: 19px;
	cursor: pointer;
}








