html,
body {
	height: 100%;
	background-color: $background;
	overflow-x: hidden;
}

body {
	font-family: $nunito;
	font-size: 16px;
	line-height: 137%;
	font-weight: 300;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
	color: $primary;
	font-family: $montserrat;
	font-weight: 900;
	font-size: 30px;
	line-height: 113%;
	text-transform: uppercase;
	text-align: center;
}

.suptitle {
	color: $primary;
	font-family: $nunito;
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	text-align: center;
}

.subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #232C38;
}

.text {
	color: $dark-grey;
}

.accent {
  background-color: $accent1;
  color: #fff;
}

.text-accent {
	color: $accent1;
}

path {
	transition: all .3s ease-in-out;
}

.btn {
	border-radius: 19px;
	cursor: pointer;
}

.slick-next {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-size: 0;
	@include adaptiv-value('width', 48, 20, 1);
	@include adaptiv-value('height', 48, 20, 1);
	// width: 48px;
	// height: 48px;
	background-color: $accent1;
	border: none;
	border-radius: 50%;
	background-image: url(../images/choose/arrow-next.svg);
	background-repeat: no-repeat;
	background-size: 24px 17px;
	background-position: center;
	cursor: pointer;
	transition: all .3s ease-out;
}
.slick-next:active {
	background-color: #b78c60;
}

.slick-dots li button {
	padding: 0;
	border: none;
}

li.slick-active {
	background-color: $primary;
}

ul.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-size: 0;
	padding-top: 10px;
}
.slick-dots li {
	width: 10px;
	height: 10px;
	border: 1px solid $primary;
	border-radius: 50%;
	&:not(:last-child) {
		margin-right: 8px;
	}
}




