@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

@media (min-width: 319px) {
  .header {
    @include adaptiv-value('margin-bottom', 87, 20, 1);
    &__wrap {
      position: relative;
      // z-index: 2;
      // padding-top: 20px;
    }
    
    &__mob-container {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      min-height: 20px;
      &.scroll {
        .header__logo-img {
          
        }
        .header__menu-burger {
          margin-bottom: 0;
        }
        .header__mob-wrap {
          height: 50px;
          padding: 5px 0;
        }
        .header__menu-cart {
          margin-bottom: -5px;
        }
        .header__menu-counter {
          width: 15px;
          height: 15px;
          font-size: 10px;
          line-height: 15px;
        }
      }
    }
    &__mob-wrap{
      position: fixed;
      z-index: 25;
      width: 100%;
      top: 0;
      left: 0;
      padding: 10px 0;
      height: 60px;
      transition: all .3s ease-out;
    }
    &__mob-container .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__mob-wrap::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(199, 160, 122, 0.632);
      z-index: 1;
    }
    &__box {
      display: flex;
      // justify-content: space-between;
    }
    &__content {
      display: flex;
      align-items: center;
      // @include adaptiv-value('padding-top', 650, 100, 1)
      // align-items: center;
      // position: absolute;
      // z-index: 1;
      // top: 50%;
      // transform: translateY(-50%);
      // order: 1;
    }
    &__logo {
      position: relative;
      z-index: 24;
      flex: 0 0 77%
    }
    &__logo-img {
      
    }
    &__title-box {
      position: relative;
      z-index: 1;
      width: 50%;
    }
    &__title {
      // position: absolute;
      // @include adaptiv-value('font-size', )
      text-align: left;
      @include adaptiv-value('font-size', 60, 35, 1);
      @include adaptiv-value('line-height', 70, 50, 1);
    }
    &__image {
      // order: 3;
      // position: relative;
      // flex: 0 0 100%;
      padding: 0 0 100vh 0;
      // position: absolute;
      // width: 100%;
      // left: 0;
      // top: 0;
      // z-index: -1;
    }
    &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      // z-index: 0;
      
    }
    &__menu {
      // display: flex;
      // align-items: center;
      // order: 2;
    }
    &__menu-cart {
      svg path {
         fill: $primary; 
      }
      position: relative;
      z-index: 24;
      display: inline-block;
    }
    &__menu-counter {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(75%, -75%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $accent1;
      color: #F9FBFF;
      text-align: center;
      font-size: 14px;
      line-height: 19px;
      transition: all .3s ease-out;
      opacity: 0;
      visibility: hidden;
      // display: none;
    }
    &__nav {
      position: fixed;
      z-index: 4;
      top: 0;
      right: -100%;
      height: 100%;
      width: 30%;
      background-color: $primary;
      padding: 70px 20px;
      transition: all .6s ease-out;
      // margin-top: 60px;
      overflow: auto;
      @media (max-width: 499px) {
        width: 50%;
      }
      
    }
    &__nav-duplicate {
      display: none;
    }
    &__nav.active {
      right: 0;
    }
    &__menu-list {
      :not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &__menu-item {}
    &__menu-link {
      text-decoration: none;
      text-transform: uppercase;
      color: #EDF0F5;
      font-size: 12px;
    }
    &__menu-burger{
      display: block;
      position: relative;
      cursor: pointer;
      z-index: 24;
      width: 25px;
      height: 20px;
      margin-bottom: 5px;
      margin-left: 20px;
      span {
        transition: all .6s ease;
        position: absolute;
        left: 0;
        background-color: $primary;
        width: 100%;
        height: 2px;
        top: 9px;
      }
    }
    &__menu-burger::after,
    &__menu-burger::before {
      content: '';
      position: absolute;
      left: 0;
      background-color: $primary;
      width: 100%;
      height: 2px;
      transition: all .6s ease;
    }
    &__menu-burger::before {
      top: 0;
    }
    &__menu-burger::after {
      bottom: 0;
    }
    &__menu-burger.active::before {
      transform: rotate(45deg);
      top: 9px;
    }
    &__menu-burger.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    &__menu-burger.active span {
      transform: scale(0);
    }
    body.lock {
      overflow: hidden;
    }
  }
  // Корзина
  .header {
    &__cart-wrapper {
      // max-width: 460px;
      width: 100%;
      height: 100%;
      padding: 60px 20px 10px;
      @media (min-width: 519px) {
        width: 60%;
        height: 100%;
      }
      @media (min-width: 769px) {
        width: 50%;
        height: auto;
      }
      @media (min-width: 1034px) {
        width: 30%;
        height: auto;
      }
      background-color: $light-grey;
      position: fixed;
      z-index: 2;
      top: 0;
      right: -100%;
      transition: all .3s ease-out;
      
    }
    &__cart-wrapper.active {
      right: 0;
    }
    &__cart-inner {
      display: flex;
      // flex-wrap: wrap;
      flex-direction: column;
      margin-bottom: 10px;
      @media (min-width: 769px) {
        max-height: 60vh;
      }
      max-height: 80vh;
      overflow: auto;
      
    }
    &__cart-item {
      display: flex;
      // max-width: 400px;
      // width: 100%;
      // position: relative;
      &:not(:last-child) {
        margin-bottom: 20px;
        // ::after {
          // content: '';
          // position: absolute;
          // bottom: -15px;
          // left: 10%;
          // width: 80%;
          // height: 1px;
          // background: rgba(65, 81, 103, 0.548);
        // }
      }
    }
    &__cart-image {
      flex: 0 1 120px;
      margin-right: 15px;
      
    }
    &__cart-img {}
    &__cart-descr {
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: repeat(2, 1fr);
      // align-items: center;
      // justify-items: start;
      display: flex;
      flex: 0 1 100%;
      flex-wrap: wrap;
      // flex-direction: row-reverse;
      align-items: center;
    }
    &__cart-title {
      flex: 0 0 100%;
      margin-bottom: 7px;
      // max-width: 320px;
    }
    &__cart-counter {
      display: flex;
      align-items: center;
      height: 30px;
      // justify-self: start;
      // width: 90px;
      // height: 30px;
      border-radius: 4px;
      background-color: #c4ccd9;
      margin-right: 25px;
    }
    &__cart-counter > * {
      font-size: 24px;
      font-weight: 600;
      width: 30px;
      height: 30px;
      padding: 2px;
      // flex: 0 0 33%;
      cursor: pointer;
      position: relative;
      text-align: center;
      transition: all .3s ease-out;
      &:not(:last-child)::after {
          content: '';
          position: absolute;
          top: 10%;
          left: 100%;
          width: 1px;
          height: 80%;
          background-color: rgba(65, 81, 103, 0.548);
        
      }
      
    }
    &__cart-price {}
    &__cart-total {
      font-size: 18px;
      font-weight: 600;
      color: $dark-grey;
      span {
        color: $accent1;
      }
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }   
    &__cart-minus {}   
    &__cart-count {
      cursor: auto;
      font-size: 16px;
      line-height: 24px;
    }   
    &__cart-plus,
    .header__cart-minus {
      &::hover {
        background-color: #edf0f5ae;
      }
    }
    input[type="tel"] {
      margin-bottom: 15px;
      background-color: $background;
    }
    button[type="submit"] {
      font-weight: 600;
      color: #fff;
      background-color: $accent1;
      
      
    }
    input[type="tel"],
    button[type="submit"] {
      border: none;
      font-family: $nunito !important;
      padding: 5px;
      border-radius: 10px;
    }
  }  
}

@media (min-width: 769px) {
  .header {
    
    &__wrap {
      max-width: 1400px;
      margin: 0 auto;
      // background: linear-gradient(to right, $background 77.5%, $primary 77.5%);
      padding: 0;
    }
    &__mob-container {
      min-height: 80px;
      
      &.scroll {
        .header__mob-wrap {
          padding: 10px 0;
          background-color: rgba(199, 160, 122, 0.632);
          
        }
        .header__menu-cart {

        }
        .header__menu-counter {
          width: 20px;
          height: 20px;
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
    &__mob-container .container {
      justify-content: start;
      align-items: center;
    }
    &__mob-wrap {
      padding-top: 76px;
      transition: all .5s ease-out;
    }
    &__mob-wrap::before {
      background-color: transparent;
    }

    &__box {
      flex-direction: row;
      justify-content: start;
    }
    &__content {
      margin-left: 60px;
      flex: 0 1 20%;
      // order: 0;
    }
    &__logo {
      margin-left: 60px;
      
    }
    &__title-box{
      align-self: flex-end;
      @include adaptiv-value('margin-bottom', 64, 10, 1);
    }
    &__title {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      @include adaptiv-value('font-size', 54, 10, 1);
      @include adaptiv-value('line-height', 70, 0, 1);
    }
    &__image {
      position: relative;
      // z-index: 0;
      flex: 0 0 57.5%;
      padding: 0 0 64% 0;
      // order: 0;
    }
    &__img {
      
    }
    &__menu {
      display: block;
      padding-right: 11px;
      @include adaptiv-value('padding-left', 55, -15, 1);
      @include adaptiv-value('padding-top', 230, 0, 1);
      // order: 0;
      //вариант без градиента
      position: relative;
      z-index: 1;
    }
    //вариант без градиента
    &__menu::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      height: 100%;
      background-color: $primary;
      width: 1000%;
    }
    &__menu-cart {
      @include adaptiv-value('margin-left', 55, -15, 1);
      svg path {
        fill: #F9FBFF;
      }
    }
    @media (any-hover: hover) {
      &__menu-cart:hover {
        cursor: pointer;
        svg path{
          fill: $accent2;
        }
      }
    }
    &__nav {
      position: static;
      width: auto;
      height: auto;
      padding: 0;
    }
    &__nav-duplicate {
      display: block;
      position: fixed;
      z-index: 4;
      top: 0;
      right: -100%;
      height: 100%;
      width: 30%;
      background-color: $primary;
      padding: 70px 20px;
      transition: all .6s ease-out;
      @include adaptiv-value('padding-left', 55, -15, 1);
      @include adaptiv-value('padding-top', 130, 0, 1);
      overflow: auto;
    }
    &__nav-duplicate.active {
      right: 0;
    }
    &__menu-list {
      :not(:last-child) {
        @include adaptiv-value('margin-bottom', 30, 0, 1);
      }
    }
    &__menu-item {
      padding: 0;
      transition: all .3s ease;
    }
    @media (any-hover: hover) {
        &__menu-item:hover {
        font-weight: 700;
      }
    }
    
    &__menu-link {
      line-height: 150%;
      @include adaptiv-value('font-size', 16, 0, 1);
    }
    &__menu-burger{
      // display: none;
      margin-left: 55px;
    }
  }
}

@media (min-width: 319px) {
  .coffee {
    @include adaptiv-value('padding-bottom', 129, 15, 1);
    &__titles {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include adaptiv-value('margin-bottom', 72, 20, 1);
    }
    &__suptitle {
      @include adaptiv-value('margin-bottom', 8, 0, 1);
    }
    &__title {
      
      
    }
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 15px;
      row-gap: 15px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
    }
    &__image {
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 35, 7, 1);
      }
      
    }
    &__image.margin-fix{
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 37, 9, 1);
      }
      
    }
    &__item-title {
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 12, 5, 1);
      }
      text-align: center;
      
    }
    &__item-text {
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 12, 5, 1);
      }
      text-align: center;
    }
  }
}

@media (min-width: 769px) {
  .coffee {
    &__titles {}
    &__suptitle {}
    &__title {}
    &__items {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 66px;
      row-gap: 40px;
    }
    &__item {}
    &__image {}
    &__item-title {}
    &__item-text {}
  }
}

@media (min-width: 319px) {
  .choose {
    // background-color: $primary;
    @include adaptiv-value('padding-top', 40, 20, 1);
    @include adaptiv-value('padding-bottom', 127, 20, 1);
    
    &__titles {
      @include adaptiv-value('margin-bottom', 72, 15, 1);
    }
    &__suptitle {
      @include adaptiv-value('margin-bottom', 8, 0, 1);
    }
    &__title {}
    &__slider {}
    &__item-inner {
      display: flex;
      flex-direction: column;
      
    }
    &__image {
      background-color: $light-grey;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__img {

    }
    &__content {
      @include adaptiv-value('padding', 42, 10, 1);
      background-color: #fff;
      display: flex;
      flex-direction: column;
      
      
    }
    &__price {
      &:not(:last-child) {
        // @include adaptiv-value('margin-bottom', 8, 5, 1);
        margin-bottom: 8px;
      }
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
    }
    &__subtitle {
      span {
        text-transform: uppercase;
      }
      &:not(:last-child) {
        // @include adaptiv-value('margin-bottom', 24, 5, 1);
        margin-bottom: 12px;
      }
    }
    &__text {
      &:not(:last-child) {
        // @include adaptiv-value('margin-bottom', 18, 5, 1);
        margin-bottom: 9px;
      }
    }
    &__buttons {
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 18, 8, 1);
      }
      display: flex;
      font-weight: 700;
    }
    &__button {
      flex: 0 0 50%;
      
      padding: 5px 24px;
    }
    &__button-link {
      flex: 0 0 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary;
    }
  }
}

@media (min-width: 769px) {
  .choose {
    @include adaptiv-value('padding-top', 90, 20, 1);
    background: linear-gradient(to right, $primary max(calc(((100vw - 1230px) / 2) + 260px), 25%), $background max(calc(((100vw - 1230px) / 2) + 260px), 25%));
    // position: relative;
    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: -68vw;
    //   width: 100%;
    //   height: 100%;
    //   background-color: $primary;
    // }
    .slick-list {
      overflow: visible;
      
    }
    .slick-track {
      display: flex;
      justify-content: start;
    }
    .slick-slide > div:first-child {
      @include adaptiv-value('margin-bottom', 32, -5, 1);
    }
    .slick-slide > div {
      @include adaptiv-value('margin-right', 29, 5, 1);
    }
    .slick-prev {
      display: none!important;
    }
    
    &__titles {
      // @include adaptiv-value('margin-bottom', 72, 15, 1);
    }
    &__suptitle {}
    &__title {}
    &__slider {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        z-index: 2;
        background-color: $primary;
        top: 0;
        left: calc(-100% - 34px);
        width: 100%;
        height: 100%;
      }
      &::after {
        content: '';
        position: absolute;
        // z-index: 0;
        background-color: $background;
        top: 0;
        right: -1000%;
        width: 1000%;
        height: 100%;
        opacity: .3;
      }
    }
    
    &__slider-wrapper {
      // overflow: visible;
      // position: relative;
    }
    &__item-inner {
      // flex: 0 0 auto;
      flex-direction: row;
    }
    &__image {
    display: block;
    }
    &__img {
      @media (max-width: 852px) {
        height: 211px;
      }
    }
    &__content {
    width: calc(325px/560px) * 100%;
    // height: 100%;
    justify-content: space-between;
    }
    &__price {
      @include adaptiv-value('font-size', 20, 10, 1);
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
    &__subtitle {
      white-space: nowrap;
      @include adaptiv-value('font-size', 24, 10, 1);
      &:not(:last-child) {
        margin-bottom: 0;
      }
      
    }
    &__text {
    max-height: 38px;
    height: 100%;
    line-height: 110%;
    @include adaptiv-value('font-size', 16, 10, 1);
    &:not(:last-child) {
      margin-bottom: 0;
    }
    
    }
    &__buttons {
    max-width: 240px;
    width: 100%;
    @include adaptiv-value('font-size', 16, 4, 1);
    &:not(:last-child) {
      margin-bottom: 0;
    }
    }
    &__button {
      @media (max-width: 1024px) {
        padding: 2px;
      }
      white-space: nowrap;
    }
    &__button-link {
      flex: 0 1 100%;
      // margin-left: 33px;
      // margin-right: 8px;
    }
  }
}

@media (min-width: 319px) {
  .giftset {
    @include adaptiv-value('padding-top', 40, 20, 1);
    @include adaptiv-value('padding-bottom', 127, 20, 1);
    background-color: $background;
    &__titles {
      @include adaptiv-value('margin-bottom', 68, 15, 1);
    }
    &__suptitle {
      @include adaptiv-value('margin-bottom', 8, 0, 1);
    }
    &__title {}
    &__tabs {
      display: flex;
      flex-direction: column;
    }
    &__triggers {
      display: flex;
      font-family: $montserrat;
      font-size: 30px;
      line-height: 113%;
      @include adaptiv-value('font-size', 30, 20, 1);
      a {
        color: $primary;
      }
    }
    &__trigger-item {
      flex: 1 1 100%;
      text-align: center;
      background-color: $light-grey;
      opacity: .3;
      padding: 12px;
      transition: all .3s ease-out;
      
    }
    &__trigger-item--active {
      background-color: white;
      opacity: 1;
    }
    &__content {
      
      padding-top: 10px;
      // @include adaptiv-value('padding', 64, 10, 1);
    }
    &__content-item {
      opacity: 0;
      // display: none;
      visibility: hidden;
      background-color: white;
      height: 0;
      transform: scale(0) translateX(-100%);
      transition: all .3s ease-out;
    }
    &__content-item--active {
      opacity: 1;
      // display: block;
      visibility: visible;
      height: auto;
      transform: scale(1) translateX(0);
    }
    &__item-inner {
      display: flex;
      flex-direction: column;
    }
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__img {}
    &__descr {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    &__price {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 12, 5, 1);
      }
    }
    &__subtitle {
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 12, 8, 1);
      }
    }
    &__text {
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 24, 10, 1);
      }
    }
    &__about-coffee {
      display: flex;
      color: $primary;
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 46, 10, 1);
      }
    }
    &__type {
      display: flex;
      flex: 1 1 60%;
    }
    &__image-coffee {
      margin-right: 7px;
    }
    &__type-descr {
      @media (max-width: 375px) {
        font-size: 14px;
        flex: 0 0 50%;
      }
    }
    &__type-title {
      
    }
    &__type-text {
      font-weight: 600;
      
    }
    &__place {
      display: flex;
      flex: 1 1 40%;
      
    }
    &__image-mountain {
      margin-right: 7px;
    }
    &__place-descr {
      @media (max-width: 375px) {
        font-size: 14px;
      }
    }
    &__place-title {
      
    }
    &__place-text {
      font-weight: 600;
      
    }
    &__buttons {
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 18, 8, 1);
      }
      display: flex;
      font-weight: 700;
    }
    &__button {
      flex: 0 0 50%;
      
      padding: 5px 24px;
    }
    &__button-link {
      flex: 0 0 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary;
    }
  }
}

@media (min-width: 769px) {
  .giftset {
    background: linear-gradient(to left, $background max(calc(((100vw - 1230px) / 2) + 260px), 25%), $light-grey max(calc(((100vw - 1230px) / 2) + 260px), 25%));
    @include adaptiv-value('padding-top', 90, 20, 1);
    &__titles {}
    &__suptitle {}
    &__title {}
    &__tabs {
      flex-direction: row-reverse;
      margin-right: 20px;
    }
    &__triggers {
      flex-direction: column;
    }
    &__trigger-item {
      // padding: 0 36px 0 39px;
      padding-top: 0;
      padding-bottom: 0;
      @include adaptiv-value('padding-left', 36, 0, 1);
      @include adaptiv-value('padding-right', 34, 0, 1);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__content {
      padding-top: 0;
    }
    &__content-item {}
    &__item-inner {
      flex-direction: row;
    }
    &__image {
      flex: 0 0 41.85%;
      display: flex;
      align-items: flex-start;
      justify-content: end;
      // margin-top: 64px;
      @include adaptiv-value('padding-top', 59, 10, 1);
      background: linear-gradient(to right, $light-grey 55%, white 55%);
    }
    &__img {
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      // height: 100%;
    }
    &__descr {
      @include adaptiv-value('padding-top', 59, -20, 1);
      @include adaptiv-value('padding-right', 66, -20, 1);
      @include adaptiv-value('padding-bottom', 59, -30, 1);
      @include adaptiv-value('padding-left', 91, -50, 1);
      margin-bottom: 0;
    }
    &__price {
      @include adaptiv-value('font-size', 20, 10, 1);
    }
    &__subtitle {
      @include adaptiv-value('font-size', 24, 10, 1);
    }
    &__text {
      @include adaptiv-value('font-size', 16, 10, 1);
      max-width: 430px;
    }
    &__about-coffee {
      flex-wrap: wrap;
    }
    &__type {
      flex: 1 1 auto;
    }
    &__image-coffee {
      margin-right: 15px;
    }
    &__type-descr {
      @include adaptiv-value('font-size', 16, 10, 1);
    }
    &__type-title {
      @include adaptiv-value('font-size', 16, 10, 1);
    }
    &__type-text {}
    &__place {
      // flex: 0 1 61%;
      justify-content: center;
    }
    &__image-mountain {
      margin-right: 15px;
    }
    &__place-descr {}
    &__place-title {
      @include adaptiv-value('font-size', 16, 10, 1);
    }
    &__place-text {
      @include adaptiv-value('font-size', 16, 10, 1);
    }
    &__buttons {
      font-weight: 700;
      &:not(:last-child) {
        margin-bottom: 0;
      }
      }
      &__button {
        // @media (max-width: 1024px) {
        //   padding: 2px;
        // }
        white-space: nowrap;
        padding: 10px 0;
        @include adaptiv-value('padding-top', 10, 0, 1);
        @include adaptiv-value('padding-bottom', 10, 0, 1);
        flex: 0 1 39%;
      }
      &__button-link {
        flex: 0 1 61%;
        // margin-left: 33px;
        // margin-right: 8px;
      }
  }
}

@media (min-width: 319px) {
  .combo {
    @include adaptiv-value('padding-top', 40, 20, 1);
    @include adaptiv-value('padding-bottom', 127, 20, 1);
    &__titles {
      @include adaptiv-value('margin-bottom', 72, 15, 1);
    }
    &__suptitle {
      @include adaptiv-value('margin-bottom', 8, 0, 1);
    }
    &__title {}
    &__slider {}
    &__slider-wrapper {}
    &__item {}
    &__item-inner {
      display: flex;
      flex-direction: column;
    }
    &__image {
      background-color: $light-grey;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__img {}
    &__content {
      @include adaptiv-value('padding', 42, 10, 1);
      background-color: #fff;
      display: flex;
      flex-direction: column;
    }
    &__price {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      span {
        margin-left: 10px;
        font-size: 14px;
        color: $primary;
        vertical-align: top;
        line-height: 16px;
        text-decoration: line-through;
      }
    }
    &__subtitle {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    &__text {
      line-height: 22px;
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
    &__buttons {
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 18, 8, 1);
      }
      display: flex;
      font-weight: 700;
    }
    &__button {
      flex: 0 1 50%;
      
      padding: 5px 24px;
    }
    &__button-link {
      flex: 0 1 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary;
    }
  } 
}

@media (min-width: 769px) {
  .combo {
    @include adaptiv-value('padding-top', 90, 20, 1);
    background: linear-gradient(to left, $primary max(calc(((100vw - 1230px) / 2) + 260px), 25%), $background max(calc(((100vw - 1230px) / 2) + 260px), 25%));
    .slick-list {
      overflow: visible;
    }
    .slick-prev {
      display: none!important;
    }
    .slick-slide > div {
      @include adaptiv-value('margin-right', 32, 5, 1);
    }
    &__titles {}
    &__suptitle {}
    &__title {}
    &__slider {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        z-index: 2;
        background-color: $background;
        top: 0;
        left: calc(-100% - 32px);
        width: 100%;
        height: 100%;
      }
      &::after {
        content: '';
        position: absolute;
        background-color: $background;
        top: 0;
        right: -1000%;
        width: 1000%;
        height: 100%;
        opacity: .3;
      }
    }
    &__slider-wrapper {}
    &__item {
      transition: all .3s ease-out;
    }
    @media (any-hover: hover) {
      &__item:hover {
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 25px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      transform: scale(1.02)
      }
    }
    
    &__item-inner {}
    &__image {}
    &__img {}
    &__content {}
    &__price {
      @include adaptiv-value('font-size', 20, 10, 1);
      span {
        @include adaptiv-value('font-size', 14, 11, 1);
      }
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 10, 0, 1);
      }
    }
    &__subtitle {
      white-space: nowrap;
      @include adaptiv-value('font-size', 24, 10, 1);
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 10, 0, 1);
      }
    }
    &__text {
      @include adaptiv-value('font-size', 16, 10, 1);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-height: 22px;        /* fallback */
      max-height: calc(22px * 2); 
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 32, 0, 1);
      }
    }
    &__buttons {
      @include adaptiv-value('font-size', 16, 5, 1);
    }
    &__button {
      white-space: nowrap;
      padding: 7px 0;
      @media (max-width: 1024px) {
        padding: 2px;
      }
    }
    &__button-link {}
  }
}



.footer {
  background-color: $light-grey;
  padding: 18px 0 20px;
  &__copy {
    text-align: center;
    color: $primary;
  }
}

.visible {
	opacity: 1;
	visibility: visible;
}